@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

//button colours
$core-buttons: (
    Green-solid: (
        primary: $s-Color-base, 
        secondary: $s-Color-white,
    ),
  Black: (
        primary: $s-Color-black,
        secondary: $s-Color-white
	),
    Black-solid: (
        primary: $s-Color-black,
        secondary: $s-Color-white
	),
    Grey: (
        primary: darken($grey, 15),
        secondary: $s-Color-white
    ),
    Sandstone: (
        primary: $sandstone,
        secondary: $s-Color-white
    ),
    Sandstone-solid: (
        primary: $sandstone,
        secondary: $s-Color-white
    ),
);

//button sizing
$core-button-sizes: (
    Tiny: (
        padding: 0.550em 1.5em,
        font-sizing: 0.875em,  
    ),
    Small: (
        padding: 0.750em 2.5em,
        font-sizing: 1em,  
    ),
    Med: (
        padding: 0.850em 3.5em,
        font-sizing: 1.063em, 
    )
);

@each $key, $value in $core-buttons {
  .button-#{$key} {
    &:link, &:visited{
       @if ($key == "Black-solid") or ($key == "Green-solid") or ($key == "Sandstone-solid") {
        color: map-deep-get($core-buttons, $key, secondary);
       } @else { 
        color: map-deep-get($core-buttons, $key, primary);
       }
    }
    
    @if ($key == "Black-solid") or ($key == "Green-solid") or ($key == "Sandstone-solid") {
        border-color: transparent;
        color: map-deep-get($core-buttons, $key, secondary);  
        background-color: map-deep-get($core-buttons, $key, primary);

        &:hover{
            background-color: darken(map-deep-get($core-buttons, $key, primary), 20);  ;
            color: map-deep-get($core-buttons, $key, secondary);
            border-color: transparent;
        }
    } @else {
        border-color: map-deep-get($core-buttons, $key, primary);
        color: map-deep-get($core-buttons, $key, primary);
        background-color: transparent;

        &:hover{
            background-color: map-deep-get($core-buttons, $key, primary);
            color: map-deep-get($core-buttons, $key, secondary);
        }
    }
    border-width: 2px;
    font-family: $muli;
    font-weight: 700;
    letter-spacing: 4px;
    border-style: solid;
    text-decoration: none;
    transition: background .2s ease-in;
    display: inline-block;
    line-height: 1.2;
    font-size: 0.875em;
    text-transform: uppercase;
  }
}

@each $key, $value in $core-button-sizes {
    .button-#{$key} {
        padding: map-deep-get($core-button-sizes, $key, padding);
        font-size: map-deep-get($core-button-sizes, $key, font-sizing);
    }
}