/* ---------------------------------------------- *\

  Partial: grid

  We're using Susy. Please visit http://susy.readthedocs.org/en/latest/install/

  Due to using Susy, we're going to need the Ruby gems installed. Please a see a guide here: [TBD].

  Usage
  =====

\* ---------------------------------------------- */

/* ---------------------------------------------- *\
  1.0 Global defaults
\* ---------------------------------------------- */


$susy: (
  flow: ltr,
  output: float,
  container: 1280px,
  container-position: center,
  columns: 8,
  gutters: 0.30
);

/* ---------------------------------------------- *\
  1.0 Grid makeup
\* ---------------------------------------------- */

$max-width: 1280px;
$grid-namespace: "contain";
$grid-column-namespace: "g-";
$grid-width: $max-width;
$generateGrid: true;

//some defaults to breakpoint scss
@include breakpoint-set('no query fallbacks', true);
@include breakpoint-set('to ems', true);

// set basics followed by customs 
$BREAKPOINTS: (
  320: 320px,
  400: 400px,
  480: 480px,
  0to480: (0px 480px),
  520: 520px,
  525: 525px,
  0to629: (0px 629px),
  600: 600px,
  630: 630px,
  640: 640px,
  700: 700px,
  710: 710px,
  720: 720px,
  760: 760px,
  768: 768px,
  800: 800px,
  768to920: (768px 920px),
  880: 880px,
  900: 900px,
  920: 920px,
  970: 970px,
  980: 980px,
  1080: 1080px,
  1120: 1120px,
  1200: 1200px,
  1250: 1250px,
  1260: 1260px,
  1320: 1320px,
);

// USEAGE:
// @include respond-to(320) {
//   color: tomato;
// }

.contain{
  @include container;
  padding-left: 1.875em;
  padding-right: 1.875em;

  @include respond-to(1320) {
    padding-left: 0;
    padding-right: 0;  
  }

  &_small{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    padding-left: 1.875em;
    padding-right: 1.875em;

    @include respond-to(1080) {
      padding-left: 0;
      padding-right: 0;  
    }
  }

  &_tiny{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    padding-left: 1.875em;
    padding-right: 1.875em;

    @include respond-to(768) {
      padding-left: 0;
      padding-right: 0;  
    }
  }

  &--table{
    display: table;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
  }
}

@if $generateGrid == 'true' {
  // generate our grid classes
  @for $i from 1 through map-get($susy, columns) {
   .#{$grid-column-namespace}#{$i} {
      @include span($i of 12);

      @include breakpoint(map-get($breakpoints, tiny)) {
        @include span(full);
      }
    }
  }
}