/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

$menu_width: 100% !default;

/* Menu Appearance */

.pushy{
    position: fixed;
    width: $menu_width;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: $s-Color-base;
    overflow: auto;
    visibility: hidden;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    font-family: $fontfamily;
    font-weight: normal;
    // padding: 1em 2em;

    .contact-Details{
        border-top: 1px solid $s-Color-black;
        color: $s-Color-white;
        margin-top: 1em;
        padding-top: .75em;

        ul{
            margin: 0;
            padding: 0;
            text-transform: none;
            letter-spacing: 0;
        }
    }

    a{
        display: block;
        color: $s-Color-white;
        padding: 10px 0;
        text-decoration: none;
        outline: 0;
        line-height: 1;
    }

    .close-btn{
        font-size: 26px;
        // position: absolute;
        // top: 30px;
        // right: 30px;

        a{
            padding: 0;
            color: $s-Color-white;
        }
    }

    .branding{
        padding: 30px;

        svg{
            fill: $s-Color-white;
        }
    }

    a:hover{
        color: #FFF;
    }

    >ul{
        // display: inline-block;
        padding: 0;
        margin: 4em 0 0 0;

        li{
            margin-bottom: 0;
            list-style: none;
            text-align: center;
            font-size: ms(3);
            border-bottom: 1px solid lighten($s-Color-base, 5);
            padding: 1em 0;

            &:last-child{
                border-bottom: none;
            }

            a{

                &:hover{
                    color: lighten($sandstone, 10);
                }
            }
        }
    }

    ul:first-child{
        margin-top: 10px;
    }

    &.pushy-left{
        left: 0;
    }

    &.pushy-right{
        right: 0;
    }
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d( unquote('-' + $menu_width) ,0,0);
    -ms-transform: translate3d( unquote('-' + $menu_width) ,0,0);
    transform: translate3d( unquote('-' + $menu_width) ,0,0);
}

.pushy-open-left{
    #container,
    .push{
        -webkit-transform: translate3d( $menu_width ,0,0);
        -ms-transform: translate3d( $menu_width ,0,0);
        transform: translate3d( $menu_width ,0,0);
    }
}

.pushy-right{
    -webkit-transform: translate3d( $menu_width ,0,0);
    -ms-transform: translate3d( $menu_width ,0,0);
    transform: translate3d( $menu_width ,0,0);
}

.pushy-open-right{
    #container,
    .push{
        -webkit-transform: translate3d( unquote('-' + $menu_width) ,0,0);
        -ms-transform: translate3d( unquote('-' + $menu_width) ,0,0);
        transform: translate3d( unquote('-' + $menu_width) ,0,0);
    }
}

.pushy-open-left,
.pushy-open-right{
    .pushy{
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

/* Menu Transitions */

#container,
.pushy,
.push{
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-open-left,
.pushy-open-right{
    .site-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        background-color: rgba(0,0,0,0.5);
        -webkit-animation: fade 500ms; 
        animation: fade 500ms;
    }
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Submenu Appearance */

.pushy-submenu{
    ul{
        // padding-left: 15px;
        // transition: max-height 0.2s ease-in-out;
        padding: 0;
        margin: 0;
        font-size: em(10);
        text-align: center;

        li{
            padding-left: em(8);
            line-height: 1.4;

            a{

                &::before{
                    content: "- ";
                }

                &:hover{
                    // color: $red;
                }
            }
        }

        .pushy-link{
            transition: opacity 0.2s ease-in-out;

            a{
                color: $s-Color-white;
            }
        }
    }

    /* Submenu Icon */

    > a {
        position: relative;
    }

    // > a::after {
    //     content: '';
    //     display: block;
    //     height: 11px;
    //     width: 8px;
    //     position: absolute;
    //     top: 50%;
    //     right: 15px;
    //     background: url("../images/svgs/arrow.svg") no-repeat;
    //     -webkit-transform: translateY(-50%);
    //     -ms-transform: translateY(-50%);
    //     transform: translateY(-50%);
    //     transition: transform 0.2s;
    // }
}

/* Submenu Movement */

.pushy-submenu-closed{
    ul{
        // max-height: 0;
        // overflow: hidden;
    }

    .pushy-link{
        // opacity: 0;
    }
}

.pushy-submenu-open{
    ul{
        max-height: 1000px;
    }

    .pushy-link{
        opacity: 1;
    }
    
    /* Submenu Icon */

    a::after {
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
    }
}

.no-csstransforms3d{
    .pushy-submenu-closed{
        ul{
            max-height: none;
            display: none;
        }
    }
}
