// ==> User defined

h1, h2, h3, h4, h5, h6{
    font-family: $helvetica;
    text-transform: uppercase;
    font-weight: 800;

    .fonts-loaded &{

	}

    span{
        text-transform: capitalize;
    }
}

h1{
    font-size: ms(5);
    letter-spacing: 4px;
    line-height: 1.2;
    margin-bottom: 1.2em;
}

h2{
    font-size: ms(4);
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 1.2em;
}

h3{
    font-size: ms(3);
    letter-spacing: .8px;
    line-height: 1.6;
    margin-bottom: em(10);
}

h4{
    font-size: ms(2);
    letter-spacing: .7px;
    line-height: 1.4;
    margin-bottom: em(10);
}

h5{
    font-size: ms(1);
    letter-spacing: .5px;
    line-height: 1.4;
    margin-bottom: 1em;
}

h6{
    font-size: ms(0);
    letter-spacing: 0.04em;
    line-height: 1.5;
    margin-bottom: em(12);
}

.grandiose{
    font-size: ms(4);
    line-height: 1.2;
    margin-bottom: 0;
    letter-spacing: 0.03em;

    @include respond-to(800) {
        font-size: ms(9);
    }
}

.staggered{

    span{
        font-size: 50%;
        display: block;
        margin-top: .2em;
        color: darken($s-Color-base, 20);
    }
}

p{
	margin-bottom: ms(2);

	&:last-child{
		margin-bottom: 0;
	}

    .block-Paragraph &{

        &~h1, &~h2, &~h3, &~h4, &~h5, &~h6{
            margin-top: ms(6);
        }
    }

    .p-Entry &{

        &~h1, &~h2, &~h3, &~h4, &~h5, &~h6{
            margin-top: ms(8);
        }
    }
}

strong{
	// change if using @fontface
	font-weight: normal;
}

em{
	// change if using @fontface
	font-style: none;
}