body{
	font-family: ;
	font-size: 100%;
	line-height: $lineheight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.fonts-loaded &{
		font-family: $fontfamily;
	}
}

a{
	text-decoration: underline;

	&:link, &:visited{
		color: $s-Color-base;
	}
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}